.hamberger_img {
  width: 25px;
  height: 25px;
  margin: 7.5px;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 650px;
  height: 900px;
  font-size: var(--font-micro);
  background-color: rgb(255, 255, 255);
}

.join_id,
.join_pw,
.join_name,
.join_phone,
.join_email {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: space-around;
  margin-bottom: 70px;
}

.join_text {
  font-size: var(--font-regular);
  margin-bottom: 120px;
}

.id_text,
.pw_text,
.name_text,
.phone_text,
.email_text {
  font-size: var(--font-micro);
}

#ID {
  margin: 0px 20px 0px 16px;
}
#PW {
  margin: 0px 10px 0px 10px;
}

#ID,
#PW,
#name,
#phone,
#email {
  border: 0px;
  font-size: var(--font-micro);
  margin-left: 20px;
}

#ID:focus,
#PW:focus,
#name:focus,
#phone:focus,
#email:focus {
  outline: none;
}

#ID::placeholder,
#PW::placeholder,
#name::placeholder,
#phone::placeholder,
#email::placeholder {
  font-size: var(--font-micro);
}

.join_btn {
  height: 50px;
  width: 100px;
  background-color: var(--color-blue-green);
  border: none;
  color: var(--color-white);
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
}

.join_btn:hover {
  opacity: 1;
}
