.hamberger_img {
  width: 25px;
  height: 25px;
  margin: 7.5px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  width: 650px;
  height: 450px;
  font-size: var(--font-micro);
  background-color: rgb(255, 255, 255);
}

.login_id,
.login_pw {
  display: flex;
  flex-direction: row;
}

.login_id {
  margin: 70px 0px 30px 0px;
}

.login_pw {
  margin: 0px 0px 70px 0px;
}

.login_text {
  font-size: var(--font-regular);
}

#ID {
  margin: 0px 10px 0px 16px;
}
#PW {
  margin: 0px 10px 0px 10px;
}

.lock_img,
.key_img {
  width: 30px;
  height: 30px;
}

.login_btn {
  height: 50px;
  width: 100px;
}

.login_btn {
  background-color: var(--color-blue-green);
  color: var(--color-white);
  border: none;
  opacity: 0.6;
  transition: 0.3s;
}

.login_btn:hover {
  opacity: 1;
}
