.navbar {
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_box {
  width: 550px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}
