body {
  background: url("../imgs/배경.jpg") no-repeat;
  background-size: cover;
  margin: 0%;
  z-index: 1;
}


.main_container {
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.search_text {
  width: 500px;
  height: 70px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
  background: var(--color-white);
  font-size: var(--font-micro);
  border-radius: 5px 0 0 5px;
}

input::placeholder {
  font-family: "Nanum Gothic", sans-serif;
  font-size: var(--font-micro);
}

.search_button {
  width: 65px;
  height: 70px;
  border: 0px;
  background: var(--color-blue-green);
  opacity: 0.8;
  cursor: pointer;
  border-radius: 0 5px 5px 0px;
}

.search_button:hover {
  opacity: 1;
}

.search_icon {
  margin: auto;
  margin-top: 5px;
}

.title_description {
  color: var(--color-white);
}

.main_end_container {
  position: relative;
  top: 150px;
}

.instagram_logo {
  display: flex;
  justify-content: center;
}

.insta_logo {
  width: 50px;
  height: 50px;
}

.su {
  margin-left: 20px;
  margin-right: 20px;
}

.copyright {
  font-family: "Georama", sans-serif;
  color: var(--color-white);
}

.login_join_info {
  display: flex;
}

.login_join_info > p {
  color: var(--color-white);
  margin-right: 15px;
}

.login_join_info .goto_login {
  margin-right: 20px;
}

.login_join_info .goto_join {
  margin-right: 20px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  text-decoration: underline;
}

/* 오른쪽 정보 */
.info_container {
  color: var(--color-white);
  display: flex;
  position: absolute;
  top:0;
  right: 0;
  margin-right: 20px;
}

.member_info {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member_info .goto_mypage .member_profile_pic {
  margin-right: 5px;
}