:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-yellow: #ffcb45;
  --color-dark-yellow: #f5a962;
  --color-blue-green: #125d98;
  --color-red: #ff0000;

  /* Font size */
  --font-large: 60px;
  --font-medium: 50px;
  --font-regular: 40px;
  --font-small: 30px;
  --font-micro: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: var(--font-regular)
}


.main_container {
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

.search_text {
  font-size: var(--font-regular);
  width: 500px;
  height: 50px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
  background: var(--color-white);
}

.search_button {
  width: 65px;
  height: 70px;
  border: 0px;
  background: var(--color-blue-green);
}

.search_icon {
  margin: auto;
  margin-top: 5px;
}

.title_description {
  color: var(--color-white);
}

.insta_logo {
  width : 50px;
  height: 50px;
}

.copyright {
  font-family: 'Georama', sans-serif;
  color: var(--color-white);
}