:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-yellow: #ffcb45;
  --color-dark-yellow: #f5a962;
  --color-blue-green: #125d98;
  --color-red: #ff0000;

  /* Font size */
  --font-large: 60px;
  --font-medium: 50px;
  --font-regular: 40px;
  --font-small: 30px;
  --font-micro: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
