:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-yellow: #ffcb45;
  --color-dark-yellow: #f5a962;
  --color-blue-green: #125d98;
  --color-red: #ff0000;
  --color-gray: #767676;
  --color-light-gray: #a8a8a8;

  /* Font size */
  --font-large: 60px;
  --font-medium: 50px;
  --font-regular: 40px;
  --font-small: 30px;
  --font-micro: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: var(--font-regular);
}

.navbar {
  position: relative;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0%;
  background-color: rgb(0, 0, 0, 0.3);
}

.navbar_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.daw_img {
  position: relative;
  display: flex;
  line-height: 25px;
}

.daw-logo {
  height: 30px;
}

.login_join_info {
  position: absolute;
  top: 0;
  right: 0;
}

/* hamburger menu */

.menu_trigger,
.menu_trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu_trigger {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 35px;
  height: 40px;
}

.menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-white);
  border-radius: 4px;
  opacity: 1;
}

.menu_trigger span:nth-of-type(1) {
  top: 8px;
}

.menu_trigger span:nth-of-type(2) {
  top: 18px;
}

.menu_trigger span:nth-of-type(3) {
  bottom: 7px;
}

/* js에 추가할 클래스 */
.menu_trigger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}

.menu_trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu_trigger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* Menu Wrap */

.menu_wrap {
  background-color: var(--color-white);
  position: absolute;
  position: fixed;
  top: 0;
  left: -500px;
  width: 500px;
  height: 1000px; /* 수정 필요 */
  opacity: 0.8;
  transition: left 0.3s eaee-in;
}

.menu_wrap.on {
  left: 0;
}

.menu_wrap ul {
  font-family: "Abhaya Libre", serif;
  list-style: none;
  font-size: var(--font-small);
  text-align: right;
  position: relative;
  top: 30%;
  padding-right: 50px;
}

.menu_wrap ul li {
  margin-bottom: 70px;
}

.menu_wrap ul li a {
  color: var(--color-black);
}

/* 텍스트 에디터 관련 */

.post_container {
  display: flex;
  justify-content: center;
}